{% load url from future %}

<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Street Name Fight!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
 </head>
<body>
&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/fight">Fight!</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/pastfights">Past Fights</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://twitter.com/StreetNameFight">Totally on the Twitter!</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://github.com/RichGibson/streetnamefight">The code is on GitHub (enter issues/suggestions here)!</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
   <div class="outer_container ">
    <div class="container">
        <div class="top_header">
          <div style="float: left;">
          </div>
        </div><!-- top_header -->
        <section class="sidebar ">
            {% if sidebar_template %}
                {% include sidebar_template %}    
            {% else %}
                {% include 'default_sidebar.html' %}            
            {% endif %}
            
        </section><!-- sidebar -->        
        <div class="main_content ">
            <div style="float: left;">
            {% block title %}{% endblock %}
            {% block content %}
            {% endblock %}
            </div>
        </div><!-- main_content -->
    </div><!-- container -->    
    "Whatever you do, don't touch the design! It's mad cool in its unpretentiousness."
</div><!-- outer_container -->    
</body>
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
 </body>
</html>


