{% extends "base.html" %}
{% block content %}
  <br>
  You are a fighter!<br>
  {% if data %}
    <table border="1">
      <tr>
        <td>Feature ID</td>
        <td>Street</td><td>zip</td>
        <td>Number of Segments</td>
      </tr>
      {% for fid, street, zip, cnt in data %}
        <tr>
          <td><a href="/fid/{{fid}}">{{fid}}</a></td>
          <td><a href="/street/{{street}}">{{street}}</a></td>
          {% if zip %}
            <td><a href="/zip/{{zip}}">{{zip}}</a></td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{{cnt}}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      no data?
  {% endif %}
<hr>
(and spencer got a burrito)
{% endblock %}
