{% extends "base.html" %}
{% block content %}
  <h2>Streets in a zip code</h2>
  {% if data %}
    <table border="1">
      <tr>
        <td>Feature ID</td>
        <td>Street</td><td>zip</td>
        <td>Number of Segments</td>
      </tr>
      {% for fid, street, zip, cnt in data %}
        <tr>
          <td><a href="/fid/{{fid}}">{{fid}}</a></td>
          <td><a href="/street/{{street}}">{{street}}</a></td>
          {% if zip %}
            <td><a href="/zip/{{zip}}">{{zip}}</a></td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{{cnt}}</td>
        </tr>
      {% endfor %}
      {% for total_streets, total_segments in totals %}
        <tr><td colspan="4"> Total Streets {{total_streets}} Total Segments (Blocks) {{total_segments}} </td></tr>
      {% endfor %}
    </table>
  {% else %}
      no data?
  {% endif %}
<hr>
(and spencer got a burrito)
{% endblock %}
